@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/loginStyle.css" asp-append-version="true" />
</head>
<body class="body-login">
    <div class="display-container text-center">
        <h1 class="italic">Bienvenido a Pet</h1>
        <img src="~/images/LogoOficial3.png" alt="LogoOficial3" class="logo">
    </div>
    <div class="admin-info parrafo">
        <div class="container">
            <details>
                <summary>
                    <h2>Información para Administradores</h2>
                    <p>
                        Bienvenido al panel de administración de Botellas PET. Aquí puedes realizar varias tareas administrativas importantes, como agregar, editar y eliminar información sobre botellas PET, gestionar campañas, y más.
                    </p>
                </summary>
                <h3>Ejemplos de Tareas Administrativas:</h3>
                <ul>
                    <li>Agregar nuevas campañas al sistema.</li>
                    <li>Editar la información existente de las campañas, como nombre, descripcion, imagen, etc.</li>
                    <li>Eliminar campañas de la base de datos si es necesario.</li>
                    <li>Gestionar y asignar campañas a organizaciones.</li>
                </ul>
                <p>
                    Recuerda que este panel está diseñado para administradores autorizados. Asegúrate de tomar decisiones con precaución y responsabilidad.
                </p>
            </details>
        </div>
    </div>
    @*oficial*@
</body>
</html>
