@model Prueba_1Pet.Models.Campania

@{
    ViewData["Title"] = "Crear";
}
<link rel="stylesheet" href="~/css/cr.css" />


<h1>Crear Campaña</h1>

@using (Html.BeginForm("Create", "Campania", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descripcion"></label>
        <input asp-for="Descripcion" class="form-control" />
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

   
    <div class="form-group">
        <div class="form-group">
            <label asp-for="Imagen">Buscar Logo:</label>
            <div class="input-group">
                <input type="file" id="Image" name="imagenFile" class="form-control" placeholder="Seleccione una Imagen" style="color: black;">
            </div>
            <span asp-validation-for="Imagen" class="text-danger" style="font-size: 12px;"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Organizacion"></label>
        <input asp-for="Organizacion" class="form-control" />
        <span asp-validation-for="Organizacion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FechaRegistro"></label>
        <input asp-for="FechaRegistro" type="date" class="form-control" />
        <span asp-validation-for="FechaRegistro" class="text-danger"></span>
    </div>

    

    

    <button type="submit" class="btn btn-primary">Guardar</button>
}

<a asp-action="Index">Volver a la lista</a>
